.CourseTable{
   
}
.CourseTable table{
   margin-top: 30px;
   border-bottom: 1px solid;
}
.CourseTable table thead tr th{
   border: 1px solid;
   border-bottom: 0px solid;
}
.CourseTable table tbody tr td{
   border: 1px solid;
   border-bottom: 0px solid;
}
.CourseTable table tbody tr td:nth-child(1),
.CourseTable table tbody tr td:nth-child(2),
.CourseTable table tbody tr td:nth-child(3){
   border-top: 0px solid;
}
.CourseTable tr > td.actions{
   vertical-align: middle;
}
.CourseTable button.blue-btn{
   background-color: rgb(34, 34, 239);
   color: white;
}
.CourseTable button.red-btn{
   background-color: rgb(182, 182, 70);
   color: white;
}

