.CourseTableStudent{
   
}
.CourseTableStudent table{
   margin-top: 30px;
   border-bottom: 1px solid;
}
.CourseTableStudent table thead tr th{
   border: 1px solid;
   border-bottom: 0px solid;
}
.CourseTableStudent table tbody tr td{
   border: 1px solid;
   border-bottom: 0px solid;
}
.CourseTableStudent table tbody tr td:nth-child(1),
.CourseTableStudent table tbody tr td:nth-child(2),
.CourseTableStudent table tbody tr td:nth-child(3){
   border-top: 0px solid;
}
.CourseTableStudent tr > td.actions{
   vertical-align: middle;
}

