.DetailsPage {
    margin: 50px auto;
    width: 70%;
}
.DetailsPage .page-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DetailsPage .page-top h1{
  
}
.DetailsPage .page-top a{
  
}
.DetailsPage h4{
  color: gray;
}
.DetailsPage .page-content{
    border: 1px solid;
    margin-top: 20px;
    padding: 20px;
}
.DetailsPage span.infos{
    font-weight: bold;
 }